.elements__remove {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 20px;
    background-image: url(../../../images/remove.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.elements__remove:hover {
    opacity: 0.6;
}