.elements__element {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas: 
    'image image image image'
    'title title title like';
}