.profile__edit-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  background-image: url(../../../images/edit-profile-img.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
}

.profile__edit-avatar:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile__edit-avatar {
    margin-left: 19px;
  }
} */
