.popup__input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    outline: none;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.popup__input:focus {
    background-color: #f1f1f1;
    padding-left: 8px;
}

.popup__input::placeholder {
    color: grey;
}

/* .popup__input:invalid:not(:focus):not(:placeholder-shown) {
    border-bottom: 1px solid red;
} */